.medium-zoom-overlay {
  z-index: 100;
  background: var(--light) !important;
}

.medium-zoom-image {
  cursor: zoom-in;
}

.medium-zoom-image--opened {
  z-index: 101;
  border-radius: 0 !important;
  cursor: zoom-out;
}
