@use "../../styles/variables.scss" as *;

ul.section-ul {
  list-style: none;
  margin-top: 2em;
  padding-left: 0;
}

li.section-li {
  margin-bottom: 2em;
  padding-bottom: 1.5em;
  border-bottom: 1px solid var(--lightgray);

  &:last-child {
    border-bottom: none;
  }

  & > .section {
    display: block;

    & > .desc > h3 {
      margin: 0 0 0.5rem 0;
    }

    & > .desc > h3 > a {
      background-color: transparent;
    }
  }
}

// modifications in popover context
.popover .section {
  & > .desc > h3 {
    font-size: 1rem;
  }
}
